@if(route|hasChildren){
    <ul class="sub-menu"   
        routerLinkActive="menu-item__active"
        [routerLinkActiveOptions]="{ exact: false }" 
        #rla="routerLinkActive" nz-submenu 
        [nzTitle]="title" 
        [nzOpen]="rla.isActive">
        <a [routerLink]="path" style="display: none;"></a>
        @for (option of route.children; track $index) {
            <li>
                <app-menu-item [route]="option" [path]="path" [collapsed]="collapsed"></app-menu-item>
            </li>
        }
    </ul>
    
}@else if(route.title){
    <a 
        class="menu-item menu-item_anchor"
        routerLinkActive="menu-item__active"
        nz-menu-item
        nzMatchRouter
        nz-popover
        [nzPopoverContent]="popOver"
        [routerLink]="path"
        >
        @if (!collapsed) {
            <span nz-typography> {{route.title}}</span>
        }
    </a>
}

<ng-template #title>
    <div class="flex gap-2 justify-between items-center">
        @if (!collapsed) {
            <span nz-typography> {{route.title}}</span>
        }
    </div>
</ng-template>
<ng-template #popOver>
    <span>{{route.title}}</span>
</ng-template>
