.ver-acciones-button {
    background-color: #1e3a8a; /* Azul oscuro */
    color: rgb(252, 248, 248); /* Texto negro */
    border: none;
    padding: 5px 10px;
    border-radius:5px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 14px; /* Tamaño del texto */ 
  }
  
  .ver-acciones-button:hover {
    background-color: #162c6a; /* Azul más oscuro al pasar el mouse */
  }